@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:#F5F6F0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
.custom-bg{
    background: rgb(244,191,111);
background: linear-gradient(270deg, rgba(244,191,111,1) 0%, rgba(247,219,214,1) 100%);
border: 3px solid black;
}


.progress-bar {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(hotpink 25%, pink 0);    
  }




  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 208, 156, 0.164); 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.modal {
   
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 50px rgba(70, 69, 69, 0.849); 
    backdrop-filter: blur(5px);
}

.modal h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.modal button{
    transition: .3s ease;
    font-weight: 600;
}

#createbtn:hover{
   background: #000;
   color: #F5F6F0;
   transform: scale(1);
}



/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .mobile_navdisplay{
        display: none;
    }
    .textmobile{
       font-size: 1rem; 
    }
    .button{
        width: 30%;
        height: 50%;
        font-size: .7rem;
        margin-right: 3%;
    }
    .mobile-position{
        margin-left: 3%;
    }
    .mobile-layout{
        flex-direction: column;
    }
    
    .mobile_display{
      display: none;
            }


            .modal{
                width: 90%;
                height: 60%;
            }
  }

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 850px) {
    .show {
        display: none;
    }
    .mobile-layout{
        flex-direction: column;

    }
    .tab_size{
        height: 50%;
    }
   
    .mobile_navdisplay{
        display: none;
    }
    .show{
        display: flex;
    }
    .mobile_display{
        font-size: 12px;
            }

    .modal{
        width: 70vw;
        height: 60vh;
    }


}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  {
    .navbarText{
        font-size: 1em;
    }
   
     .tab_display{
font-size: .8rem;
    }
    .mobile_display{
font-size: 16px;
    }
    .modal{
        width: 50vw;
    }

 }

/* Large devices (desktops, 992px and up) */
@media(min-width: 850px){ 
    .show{
        display: none;
    }
    .hide{
        display: none;
    }
    .modal{
        width: 30vw;
        height: 60vh;
    }

 }


 .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid black;
    padding: 2px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 2px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffffff;
  }

  input:checked + .slider:before {
  
    transform: translateX(18px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  .customhover:hover{
    box-shadow: 0 0 50px rgba(141, 141, 141, 0.507); 
    cursor: pointer;
  }
button{
    transition: .1s ease;
}
  button:hover{
transform: scale(1.1);
  }